name: finance-dev

services:
  # app:
  #   build:
  #     target: dev
  #     context: .
  #   working_dir: /app
  #   volumes:
  #     - ./:/app
  #     - /app/node_modules/
  #     - /app/.next/
  #   ports:
  #     - 3000:3000
  #   depends_on:
  #     - db
  #     - mailhog

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
    volumes:
      - ./sql/01-init-dev.sql:/docker-entrypoint-initdb.d/01-init-dev.sql
      - db:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  db:
