DATABASE_URL="postgresql://user:user@localhost:5433/walletko-dev"
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER="not.important@example.com"
SMTP_PASS="example"
SMTP_SECURE=false
EMAIL_FROM="Walletko <noreply@walletko.app>"
BETTER_AUTH_SECRET=bSaujwBGHEsXhHNewlYu5s6V2GAI1io5O8wAPYQcAn8=
BETTER_AUTH_URL=http://localhost:3000
APP_URL=http://localhost:3000
